@model IEnumerable<ApiProjectTony.Models.ViewModels.ContentVM>


<div class="row mt-8 equal h-100">
        @foreach (var item in Model)
        {
            <div class="col-3 offset-m-1 pl-md-2">
                <div class="card h-100">
                    <img class="card-img-top" src="@item.imageUrl" alt="@item.title">
                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>
                        <p class="card-text">@item.description</p>
                    </div>
                </div>
            </div>
        }
</div>
