@{
}

<div id="viewGetCountryComponent">
    <div id="countries">

    </div>
</div>


@section Scripts{

<script src="~/modules/GetCountryComponent.js" type="text/javascript"></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (){
        var vGetCountryComponent = viewGetCountryComponent({ selector: '#viewGetCountryComponent' });
        vGetCountryComponent.prepare();

        vGetCountryComponent.getCountries("@ViewBag.region")
    });
</script>

}