@model ApiProjectTony.Models.ViewModels.UserVM


<ul>
    <li>@Model.Name</li>
    <li>@Model.Email</li>
    <li>@Model.Gender</li>
</ul>

<a class="btn btn-primary" asp-action="login" asp-controller="account">Login</a>
